@font-face {
  font-family: "iconfont"; /* Project id 4769613 */
  src: url('iconfont.woff2?t=1734607800407') format('woff2'),
       url('iconfont.woff?t=1734607800407') format('woff'),
       url('iconfont.ttf?t=1734607800407') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e605";
}

.icon-shoucangdanse:before {
  content: "\e607";
}

.icon-comment:before {
  content: "\e604";
}

.icon-BxsLike:before {
  content: "\e603";
}

.icon-BxLike:before {
  content: "\e602";
}

.icon-lock:before {
  content: "\e69e";
}

.icon-qingkong:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-fuzhi:before {
  content: "\e65f";
}

.icon-tianjiawenjian:before {
  content: "\e66a";
}

